{% extends 'learn/words.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'vendor/css/phrases.css' %}">
{% endblock %}
{% block title %}Phrases{% endblock %}
{% block content %}
<section class="ezy__epcategory1_ZOYCL9OE">
    <div class="container">
      <h2 class="ezy__epcategory1_ZOYCL9OE-heading">Product Category</h2>
  
      <div class="row mt-4 mt-md-5 ezy__epcategory1_ZOYCL9OE-row">
        <!-- card start -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-1">
          <a href="">
            <div class="card ezy__epcategory1_ZOYCL9OE-card p-2">
              <div class="ezy_ecategory1-card-img d-flex justify-content-center align-items-center py-3">
                <img src="https://cdn.easyfrontend.com/pictures/ecommerce/product21.png" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="ezy__epcategory1_ZOYCL9OE-title m-0">Speaker</h5>
              </div>
            </div>
          </a>
        </div>
        <!-- card end -->
        <!-- card start -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-1">
          <a href="">
            <div class="card ezy__epcategory1_ZOYCL9OE-card p-2">
              <div class="ezy_ecategory1-card-img d-flex justify-content-center align-items-center py-3">
                <img src="https://cdn.easyfrontend.com/pictures/ecommerce/product4.png" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="ezy__epcategory1_ZOYCL9OE-title m-0">School Product</h5>
              </div>
            </div>
          </a>
        </div>
        <!-- card end -->
        <!-- card start -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-1">
          <a href="">
            <div class="card ezy__epcategory1_ZOYCL9OE-card p-2">
              <div class="ezy_ecategory1-card-img d-flex justify-content-center align-items-center py-3">
                <img src="https://cdn.easyfrontend.com/pictures/ecommerce/product19.png" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="ezy__epcategory1_ZOYCL9OE-title m-0">Furniture</h5>
              </div>
            </div>
          </a>
        </div>
        <!-- card end -->
        <!-- card start -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-1">
          <a href="">
            <div class="card ezy__epcategory1_ZOYCL9OE-card p-2">
              <div class="ezy_ecategory1-card-img d-flex justify-content-center align-items-center py-3">
                <img src="https://cdn.easyfrontend.com/pictures/ecommerce/product11.png" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="ezy__epcategory1_ZOYCL9OE-title m-0">Water Bottle</h5>
              </div>
            </div>
          </a>
        </div>
        <!-- card end -->
        <!-- card start -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-1">
          <a href="">
            <div class="card ezy__epcategory1_ZOYCL9OE-card p-2">
              <div class="ezy_ecategory1-card-img d-flex justify-content-center align-items-center py-3">
                <img src="https://cdn.easyfrontend.com/pictures/ecommerce/product14.png" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="ezy__epcategory1_ZOYCL9OE-title m-0">Wrist Watch</h5>
              </div>
            </div>
          </a>
        </div>
        <!-- card end -->
        <!-- card start -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-1">
          <a href="">
            <div class="card ezy__epcategory1_ZOYCL9OE-card p-2">
              <div class="ezy_ecategory1-card-img d-flex justify-content-center align-items-center py-3">
                <img src="https://cdn.easyfrontend.com/pictures/ecommerce/product9.png" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="ezy__epcategory1_ZOYCL9OE-title m-0">Perfume</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-1">
          <a href="">
            <div class="card ezy__epcategory1_ZOYCL9OE-card p-2">
              <div class="ezy_ecategory1-card-img d-flex justify-content-center align-items-center py-3">
                <img src="https://cdn.easyfrontend.com/pictures/ecommerce/product9.png" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="ezy__epcategory1_ZOYCL9OE-title m-0">Perfume</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-1">
          <a href="">
            <div class="card ezy__epcategory1_ZOYCL9OE-card p-2">
              <div class="ezy_ecategory1-card-img d-flex justify-content-center align-items-center py-3">
                <img src="https://cdn.easyfrontend.com/pictures/ecommerce/product9.png" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="ezy__epcategory1_ZOYCL9OE-title m-0">Perfume</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-1">
          <a href="">
            <div class="card ezy__epcategory1_ZOYCL9OE-card p-2">
              <div class="ezy_ecategory1-card-img d-flex justify-content-center align-items-center py-3">
                <img src="https://cdn.easyfrontend.com/pictures/ecommerce/product9.png" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="ezy__epcategory1_ZOYCL9OE-title m-0">Perfume</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-1">
          <a href="">
            <div class="card ezy__epcategory1_ZOYCL9OE-card p-2">
              <div class="ezy_ecategory1-card-img d-flex justify-content-center align-items-center py-3">
                <img src="https://cdn.easyfrontend.com/pictures/ecommerce/product9.png" alt="..." />
              </div>
              <div class="card-body">
                <h5 class="ezy__epcategory1_ZOYCL9OE-title m-0">Perfume</h5>
              </div>
            </div>
          </a>
        </div>
        <!-- card end -->
      </div>
  
      <!-- button start -->
      <div class="text-center mt-5">
        <a class="btn btn-primary ezy__epcategory1_ZOYCL9OE-btn" href="#" role="button">See All</a>
      </div>
      <!-- button end -->
    </div>
  </section>
{% endblock %}
