{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradient Box</title>
    <link rel="stylesheet" href="{% static 'vendor/css/appp.css' %}">
</head>
<body>
    <div class="container">
        <a href="{% url 'home' %}" class="styled-wrapper">
            <button class="button">
              <div class="button-box">
                <span class="button-elem">
                  <svg
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    class="arrow-icon"
                  >
                    <path
                      fill="white"
                      d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
                    ></path>
                  </svg>
                </span>
                <span class="button-elem">
                  <svg
                    fill="white"
                    viewBox="0 0  24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    class="arrow-icon"
                  >
                    <path
                      d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"
                    ></path>
                  </svg>
                </span>
              </div>
            </button>
        </a>
        <div class="gradient-box">
            <div class="app-flex">
                <div id="one">
                    <h1>Get Benefit with Telegram Bot</h1>
                    <p>Nunc et tellus non erat accumsan aliquam eget non mi. Integer fringilla pellentesque finibus.</p>
                    <div class="button-app">
                        <!-- From Uiverse.io by faxriddin20 --> 
<a href="https://web.telegram.org/a/#7683856171" class="telegram">
    <svg
      style="fill:#FFFFFF;"
      class="telegram-svg"
      viewBox="0,0,256,256"
      y="0px"
      x="0px"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g
        style="mix-blend-mode: normal"
        text-anchor="none"
        font-size="none"
        font-weight="none"
        font-family="none"
        stroke-dashoffset="0"
        stroke-dasharray=""
        stroke-miterlimit="10"
        stroke-linejoin="miter"
        stroke-linecap="butt"
        stroke-width="1"
        stroke="none"
        fill-rule="nonzero"
        fill="#ffffff"
      >
        <g transform="scale(5.12,5.12)">
          <path
            d="M46.137,6.552c-0.75,-0.636 -1.928,-0.727 -3.146,-0.238h-0.002c-1.281,0.514 -36.261,15.518 -37.685,16.131c-0.259,0.09 -2.521,0.934 -2.288,2.814c0.208,1.695 2.026,2.397 2.248,2.478l8.893,3.045c0.59,1.964 2.765,9.21 3.246,10.758c0.3,0.965 0.789,2.233 1.646,2.494c0.752,0.29 1.5,0.025 1.984,-0.355l5.437,-5.043l8.777,6.845l0.209,0.125c0.596,0.264 1.167,0.396 1.712,0.396c0.421,0 0.825,-0.079 1.211,-0.237c1.315,-0.54 1.841,-1.793 1.896,-1.935l6.556,-34.077c0.4,-1.82 -0.156,-2.746 -0.694,-3.201zM22,32l-3,8l-3,-10l23,-17z"
          ></path>
        </g>
      </g>
    </svg>
    <span class="telegram-text">Telegram</span>
</a>
  
  <!-- From Uiverse.io by vinodjangid07 --> 
<a href="#" class="readmore-btn">
    <span class="book-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="rgb(86, 69, 117)"
        viewBox="0 0 126 75"
        class="book"
      >
        <rect
          stroke-width="3"
          stroke="#fff"
          rx="7.5"
          height="70"
          width="121"
          y="2.5"
          x="2.5"
        ></rect>
        <line stroke-width="3" stroke="#fff" y2="75" x2="63.5" x1="63.5"></line>
        <path
          stroke-linecap="round"
          stroke-width="4"
          stroke="#fff"
          d="M25 20H50"
        ></path>
        <path
          stroke-linecap="round"
          stroke-width="4"
          stroke="#fff"
          d="M101 20H76"
        ></path>
        <path
          stroke-linecap="round"
          stroke-width="4"
          stroke="#fff"
          d="M16 30L50 30"
        ></path>
        <path
          stroke-linecap="round"
          stroke-width="4"
          stroke="#fff"
          d="M110 30L76 30"
        ></path>
      </svg>
  
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 65 75"
        class="book-page"
      >
        <path
          stroke-linecap="round"
          stroke-width="4"
          stroke="#fff"
          d="M40 20H15"
        ></path>
        <path
          stroke-linecap="round"
          stroke-width="4"
          stroke="#fff"
          d="M49 30L15 30"
        ></path>
        <path
          stroke-width="3"
          stroke="#fff"
          d="M2.5 2.5H55C59.1421 2.5 62.5 5.85786 62.5 10V65C62.5 69.1421 59.1421 72.5 55 72.5H2.5V2.5Z"
        ></path>
      </svg>
    </span>
    <span class="text"> Read more </span>
</a>
  
                    </div>
                </div>
                <img src="{% static 'vendor/img/phone-teg.png' %}" alt="">
            </div>
        </div>
    </div>
</body>
</html>
