{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard Detail</title>
    <link rel="stylesheet" href="{% static 'vendor/css/flashcard_detail.css' %}">
</head>
<body>
    <div class="flashcard-container">
        <div class="flashcard" id="flashcard" onclick="flipCard()">
            <div class="flashcard-inner">
                <div class="flashcard-front">
                    <img src="{{ flashcard.image.url }}" alt="{{ flashcard.word }}">
                    <p>{{ flashcard.word }}</p>
                </div>
                <div class="flashcard-back">
                    <p><strong>Перевод:</strong> {{ flashcard.translation }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button onclick="nextCard()">Next Card</button>
    </div>

    <script>
        // Функция для переворота карточки
        function flipCard() {
            var card = document.getElementById('flashcard');
            card.classList.toggle('flipped');
        }

        // Функция для перехода к следующей карточке (будет в дальнейшем доработано для работы с карточками)
        function nextCard() {
            alert("Следующая карточка"); // Заглушка для переключения
        }
    </script>
</body>
</html>
